body {
  margin: 80px;
  background-image: url("../images/background1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  font-family: "Concert One", cursive;
  font-weight: 100px;
  min-height: 750px;
}

input,
#city-input {
  max-width: 595px;
  width: 250px;
  height: 30px;
  color: black;
}

input,
#city-input,
button {
  background-color: rgba(204, 210, 209, 0.7);
  border: solid 1px #070329;
  border-radius: 10px;
  padding: 3px;
  font-size: 18px;
  margin: 5px 1px;
  color: black;
}
button {
  font-size: 13px;
}
#search-form {
  display: flex;
  justify-content: end;
}

button:hover {
  cursor: pointer;
}
input:hover {
  cursor: text;
}

.card {
  border: solid 2px #111924;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  background-color: #c0b0a174;
  color: black;
  max-width: 600px;
}
#city {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 2px;
  font-weight: bold;
  color: black;
  margin-left: 20px;
}
#date,
#description {
  margin-top: 0px;
  font-size: 15px;
  margin-bottom: 0px;
  color: black;
  margin-left: 20px;
  font-family: "Recursive", sans-serif;
  font-weight: 400px;
}
#description::first-letter {
  text-transform: capitalize;
}
h3,
#units {
  font-size: 60px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 2px;
  color: black;
  margin-left: -7px;
}
#units {
  font-size: 17px;
  margin-left: -15px;
  font-family: "Recursive", sans-serif;
  font-weight: 400px;
  position: relative;
  top: -25px;
}
a {
  color: black;
  font-family: "Recursive", sans-serif;
  font-weight: 400px;
}

h5 {
  margin-top: 0px;
  font-size: 12px;
  font-weight: lighter;
  margin-left: 20px;
  font-weight: 400;
  font-family: "Recursive", sans-serif;
}
#high {
  margin-left: -32px;
  font-family: "Recursive", sans-serif;
  font-weight: 400px;
}
.high {
  margin-left: -5px;
}

#low {
  margin-left: 0px;
}
.low {
  margin-left: -5px;
}

.details {
  font-size: 13px;
  margin-top: 4px;
  font-weight: 400px;
  color: black;
  font-family: "Recursive", sans-serif;
}
#humidity,
#wind,
#visibility {
  margin-left: -27px;
}

.unit {
  margin-left: 0px;
}

span {
  position: relative;
  right: -30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  font-size: 13px;
}
.smallcard1 {
  border: solid 1px #111924;
  border-radius: 20px;
  max-width: 150%;
  display: flex;

  text-align: center;
  font-family: "Recursive", sans-serif;
}

.col-sm-2 {
  margin-right: 15px;
  justify-content: space-evenly;
  justify-content: center;
  justify-content: space-between;
}

.weathericon {
  position: relative;
}

.weathericon img {
  width: 150px;
  height: 150px;
}

.active {
  cursor: default;
  color: black;
}
.active:hover {
  text-decoration: none;
  color: black;
}

.footer {
  margin-top: 60px;
  border-top: 1px solid black;
  font-family: "Recursive", sans-serif;
}

.logo {
  font-family: "Audiowide", cursive;
  font-size: 25px;
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.coded,
.links {
  margin-top: 0px;
  text-align: start;
  margin-bottom: 12px;
  line-height: 20px;
}
.links {
  margin-left: -35px;
}

.netlifyLink,
.priyal {
  text-decoration: none;
  color: black;
}
.netlifyLink:hover,
.priyal:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #5cc2b2;
}

.linkedin,
.facebook,
.instagram,
.github {
  padding-left: 10px;
  padding-right: 10px;
}
.github {
  padding-right: 0px;
}
.linkedlink,
.fblink,
.instalink,
.githublink {
  color: black;
  text-decoration: none;
}
.linkedlink:hover {
  color: #1066c2;
}
.fblink:hover {
  color: #3b5998;
}
.instalink:hover {
  color: #e0447c;
}
.githublink:hover {
  color: #682e8e;
}

@media (max-width: 470px) {
  .smallcard1 {
    max-width: 80%;
  }
  .details {
    margin-left: 20px;
  }
  body {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 590px) {
  input,
  #city-input {
    width: 100px;
  }
}
